<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="VOLUNTEER" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\VOLUNTEER.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Home.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>